
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>北京市普通高中毕业生综合素质评价</title>
<style type="text/css">
td,p,b{FONT-FAMILY: "宋体"; FONT-SIZE: 12px; color:#000000;}
table{border-collapse:collapse; border-color:#000000}
td{ border-color:#000000 ;text-align:center }

.smb {	FONT-FAMILY: "宋体"; FONT-SIZE: 12px;font-weight: bold;}
.sm {	FONT-FAMILY: "宋体"; FONT-SIZE: 12px;text-align: left;text-indent :1.5em;}
.ti {font-size: 14px;font-weight: bold;	}
.title {font-size: 24px;font-weight: bold;	}
.shuoming {font-size: 12px; text-align: left;text-indent :1.5em;color:#336699;	}	
</style>
</head>
<body topmargin="0">
<div align=center>
<table width="780" height="80" border="1"  cellpadding="0" cellspacing="0">
  <tr>
    <td><span class="title ">北京市普通高中毕业生综合素质评价</span><p><b>高考考生号：###gaokaohao###</b></td>
</td>
  </tr>
</table>
<table width="780" border="1"  cellpadding="0" cellspacing="0">
  
  <tr>
    <td>
	<table width="100%" border="1" cellpadding="5" cellspacing="1" bordercolor="#000000">
      <tr>
        <td width="13%"><b>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</b></td>
        <td width="23%">###name###</td>
        <td width="15%"><b>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</b></td>
        <td width="19%">###sex### </td>
        <td width="12%"><b>政治面目</b></td>
        <td width="18%">###political###</td>
      </tr>
      <tr>
        <td><b>学&nbsp;籍&nbsp;号</b></td>
        <td>###schoolNo###</td>
        <td><b>毕业学校</b></td>
        <td colspan="3">###biyexuexiao###</td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="1" cellpadding="7" cellspacing="1">
      <tr>
        <td colspan="2"   class="ti">个性发展自我评价和特长成果</td>
        </tr>
      <tr>
        <td   class="bqxsl"><div class="bqxsl"><b>个性发展自我评价</b></div></td>
        <td width="90%" class="sm">###ziwopingjia###</td>
      </tr>
      <tr>
        <td rowspan="3"   class="bqxsl"><div class="bqxsl"><b>个性发展特长及成果</b></div></td>
        <td class="sm">###chengguo1###</td>
      </tr>
      <tr>
        <td class="sm">###chengguo2###</td>
      </tr>
      <tr>
        <td class="sm">###chengguo3###</td>
      </tr>
      <tr>
        <td colspan="2"   class="shuoming">说明：依据教育部和北京市普通高中课程方案（实验）及有关学生评价等文件精神，北京市制定了“普通高中学生综合素质评价指标体系”及“北京市普通高中学生综合素质评价电子平台”。表中“个性发展自我评价”是学生对自己高中阶段学习、生活各个方面的总体评价（600字以内）；“特长成果”展示的是学生在三年时间里参加的最有特色的社会实践活动、非学科类奖项、见义勇为等好人好事、担任社会职务等内容，选择最突出的三项（每项300字以内）。上述两项数据信息可从相应的评价内容直接导出并由班主任签名确认。</td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="1" cellpadding="10" cellspacing="1">
      <tr>
        <td colspan="2"   class="ti">高中学生评语表</td>
        </tr>
      <tr>
        <td width="10%"><b>高<br>
          一<br>
          学<br>
          年</b></td>
        <td width="90%" class="sm">###pingyu1###</td>
      </tr>
      <tr>
        <td><b>高<br>
          二<br>
          学<br>
          年</b></td>
        <td class="sm">###pingyu2###</td>
      </tr>
      <tr>
        <td><b>
		高<br> 三
        <br>
          学<br>
          年</b></td>
        <td class="sm">###pingyu3###</td>
      </tr>
      <tr>
        <td colspan="2"   class="shuoming">说明：依据北京市普通高中课程方案（实验）及北京市普通高中学生综合素质评价方案（试行）等文件精神，要求广大教师树立正确的质量观、发展观、学生观和评价观，并作为职务行为，参与学生综合素质评价。该表数据信息可从北京市普通高中学生综合素质评价电子平台“班主任评语”过程性评价内容中导出。（每项300字以内）</td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="1" cellpadding="10" cellspacing="1">
      <tr>
        <td colspan="2"   class="ti">研究性学习</td>
      </tr>
      <tr>
        <td rowspan="3"   class="bqxsl"><div class="bqxsl"><b>研究性学习成果</b></div></td>
        <td width="90%"><table width="100%" border="1" cellpadding="3" cellspacing="1">
          <tr>
            <td width="13%" height="30"><b>标&nbsp;题&nbsp;一</b></td>
            <td width="87%">###biaoti1###</td>
          </tr>
          <tr>
            <td height="30"><b>内容摘要</b></td>
            <td class="sm">###neirongzhaiyao1###</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="1" cellpadding="3" cellspacing="1">
          <tr>
            <td width="13%" height="30"><b>标&nbsp;题&nbsp;一</b></td>
            <td width="87%">###biaoti2###</td>
          </tr>
          <tr>
            <td height="30"><b>内容摘要</b></td>
            <td class="sm">###neirongzhaiyao2###</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="1" cellpadding="3" cellspacing="1">
          <tr>
            <td width="13%" height="30"><b>标&nbsp;题&nbsp;一</b></td>
            <td width="87%">###biaoti3###</td>
          </tr>
          <tr>
            <td height="30"><b>内容摘要</b></td>
            <td class="sm">###neirongzhaiyao3###</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="2"  class="shuoming">说明：依据教育部《基础教育课程改革纲要（试行）》和《普通高中课程方案（实验）》，研究性学习活动是每个学生的必修课程，每个学生在三年内至少完成3个研究性学习课题（或项目），三年共计15个学分。研究性学习的内容和质量可以反映学生学习兴趣和发展方向。该数据信息是学生研究成果的即时性记录，且有指导教师的签字确认，可直接从北京市普通高中学生综合素质评价数字平台导出。每个学生最多可选择三个研究专题展示。（每项摘要700字以内）</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="1" cellpadding="10" cellspacing="1">
      <tr>
        <td   class="ti">国家学生体质健康标准登记卡</td>
      </tr>
      <tr>
        <td><table width="100%" border="1" cellpadding="2" cellspacing="1">
          <tr>
            <td colspan="4"><b>高一年级</b></td>
            <td colspan="4"><b>高二年级</b></td>
            <td colspan="4"><b>高三年级</b></td>
            <td colspan="2"><b>毕业成绩</b></td>
            </tr>
          <tr>
            <td width="10%" class="smb">指标<BR>（项目）</td>
            <td width="8%" class="smb">成绩</td>
            <td width="6%" class="smb">得分</td>
            <td width="6%" class="smb">等级</td>
            <td width="10%" class="smb">指标<BR>（项目）</td>
            <td width="6%" class="smb">成绩</td>
            <td width="6%" class="smb">得分</td>
            <td width="6%" class="smb">等级</td>
            <td width="10%" class="smb">指标<BR>（项目）</td>
            <td width="6%" class="smb">成绩</td>
            <td width="6%" class="smb">得分</td>
            <td width="6%" class="smb">等级</td>
            <td width="5%" class="smb">得分</td>
            <td width="5%" class="smb">等级</td>
          </tr>
          <tr>
            <td class="smb"><b>身高标准<BR>体重</b></td>
            <td>###1highs###/###1weight###</td>
            <td>###1score###</td>
            <td>###1dengji###</td>
            <td class="smb"><b>身高标准<BR>体重</b></td>
            <td>###2highs###/###2weight###</td>
            <td>###2score###</td>
            <td>###2dengji###</td>
            <td class="smb"><b>身高标准<BR>体重</b></td>
            <td>###3highs###/###3weight###</td>
            <td>###3score###</td>
            <td>###3dengji###</td>
            <td rowspan="8" class="smb">###avescore###</td>
            <td rowspan="8" class="smb">###avedegree###</td>
          </tr>
          <tr>
            <td class="smb"><b>肺活量体重<BR>指数</b></td>
            <td>###1feihuochengji###</td>
            <td>###1feihuofenshu###</td>
            <td>###1feihuodengji###</td>
            <td class="smb"><b>肺活量体重<BR>指数</b></td>
            <td>###2feihuochengji###</td>
            <td>###2feihuofenshu###</td>
            <td>###2feihuodengji###</td>
            <td class="smb"><b>肺活量体重<BR>指数</b></td>
            <td>###3feihuochengji###</td>
            <td>###3feihuofenshu###</td>
            <td>###3feihuodengji###</td>
          </tr>
          <tr>
            <td class="smb"><b></b></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="smb"><b></b></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="smb"><b></b></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="smb"><b>立定跳远</b></td>
            <td>###1tiaoyuanchengji###</td>
            <td>###1tiaoyuanfenshu###</td>
            <td>###1tiaoyuandengji###</td>
            <td class="smb"><b>立定跳远</b></td>
            <td>###2tiaoyuanchengji###</td>
            <td>###2tiaoyuanfenshu###</td>
            <td>###2tiaoyuandengji###</td>
            <td class="smb"><b>立定跳远</b></td>
            <td>###3tiaoyuanchengji###</td>
            <td>###3tiaoyuanfenshu###</td>
            <td>###3tiaoyuandengji###</td>
          </tr>
          <tr>
            <td class="smb"><b></b></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="smb"><b></b></b></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="smb"><b></b></b></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="smb"><b>奖励得分</b></td>
            <td colspan="3">###1jianglidefen###</td>
            <td class="smb"><b>奖励得分</b></td>
            <td colspan="3">###2jianglidefen###</td>
            <td class="smb"><b>奖励得分</b></td>
            <td colspan="3">###3ianglidefen###</td>
          </tr>
          <tr>
            <td class="smb"><b>学年总分</b></td>
            <td colspan="3">###1xuenianzongfen###</td>
            <td class="smb"><b>学年总分</b></td>
            <td colspan="3">###2xuenianzongfen###</td>
            <td class="smb"><b>学年总分</b></td>
            <td colspan="3">###3xuenianzongfen###</td>
          </tr>
          <tr>
            <td class="smb"><b>等级评定</b></td>
            <td colspan="3">###1dengjipingding###</td>
            <td class="smb"><b>等级评定</b></td>
            <td colspan="3">###2dengjipingding###</td>
            <td class="smb"><b>等级评定</b></td>
            <td colspan="3">###3dengjipingding###</td>
          </tr>
        </table></td>
        </tr>
      
      <tr>
        <td align="left" class="shuoming">说明：依据《国家学生体质健康标准》，为促进学生体质健康发展，激励学生积极进行身体锻炼，确定的学生体质健康测试内容和个体评价标准，该测试每年一次。此登记卡是测试情况的真实记录，其数据信息可直接从“国家学生体质健康数据上报软件”中提取。</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="1" cellpadding="10" cellspacing="1">
      <tr>
        <td class="ti">北京市中学生健康体检表</td>
      </tr>
      <tr>
        <td><table width="100%" border="1" cellpadding="2" cellspacing="1">
            <tr>
              <td width="40%"><b>项目\学年</b></td>
              <td width="20%"><b>高一年级</b></td>
              <td width="20%"><b>高二年级</b></td>
              <td width="20%"><b>高三年级</b></td>
              </tr>

            <tr>
              <td><b>发育及营养状况</b></td>
              <td width="20%">###1fayuyingyang###</td>
              <td width="20%">###2fayuyingyang###</td>
              <td width="20%">###3fayuyingyang###</td>
            </tr>
            <tr>
              <td><b>身高（cm）</b></td>
              <td width="20%">###1shengao###</td>
              <td width="20%">###2shengao###</td>
              <td width="20%">###3shengao###</td>
            </tr>
            <tr>
              <td><b>体重（kg）</b></td>
              <td width="20%">###1tizhong###</td>
              <td width="20%">###2tizhong###</td>
              <td width="20%">###3tizhong###</td>
            </tr>
            <tr>
              <td><b>肺活量（ml）</b></td>
              <td width="20%">###1feihuoliang###</td>
              <td width="20%">###2feihuoliang###</td>
              <td width="20%">###3feihuoliang###</td>
            </tr>
            <tr>
              <td><b>血压（mmHg）</b></td>
              <td width="20%">###1xueya###</td>
              <td width="20%">###2xueya###</td>
              <td width="20%">###3xueya###</td>
            </tr>
            <tr>
              <td><b>脉搏（次/分）</b></td>
              <td width="20%">###1maibo###</td>
              <td width="20%">###2xueya###</td>
              <td width="20%">###3xueya###</td>
            </tr>
            <tr>
              <td><table width="100%" border="1" cellpadding="3" cellspacing="1">
                <tr>
                  <td width="39%" rowspan="5" class="bqxsl"><div class="bqxsl">
					<b>视力</b></div></td>
                  <td colspan="2"   height=20><b>项目</b></td>
                  </tr>
                <tr>
                  <td width="24%" rowspan="2"><b>上学期</b></td>
                  <td width="37%"   height=20><b>裸眼视力</b></td>
                </tr>
                <tr>
                  <td   height=20><b>近视力</b></td>
                </tr>
                <tr>
                  <td rowspan="2"><b>下学期</b></td>
                  <td   height=20><b>裸眼视力</b></td>
                </tr>
                <tr>
                  <td   height=20><b>近视力</b></td>
                </tr>
              </table></td>
              <td width="20%"><table width="98%" border="1" cellpadding="3" cellspacing="1">
                <tr height=20>
                  <td><b>左</b></td>
                  <td><b>右</b></td>
                </tr>
                <tr height=20>
                  <td>###1shangzuoluoyan###</td>
                  <td>###1shangyouluoyan###</td>
                </tr>
                <tr height=20>
                  <td>###1shangzuojinshi###</td>
                  <td>###1shangyoujinshi###</td>
                </tr>
                <tr height=20>
                  <td>###1xiazuoluoyan###</td>
                  <td>###1xiayouluoyan###</td>
                </tr>			                  
                <tr height=20>			                  
                  <td>###1xiazuojinshi###</td>
                  <td>###1xiayoujinshi###</td>
                </tr>
              </table></td>
              <td width="20%"><table width="99%" border="1" cellpadding="3" cellspacing="1">
                <tr height=20>
                  <td><b>左</b></td>
                  <td><b>右</b></td>
                </tr>
                <tr height=20>
                  <td>###2shangzuoluoyan###</td>
                  <td>###2shangyouluoyan###</td>
                </tr>
                <tr height=20>
                  <td>###2shangzuojinshi###</td>
                  <td>###2shangyoujinshi###</td>
                </tr>
                <tr height=20>
                  <td>###2xiazuoluoyan###</td>
                  <td>###2xiayouluoyan###</td>
                </tr>                       
                <tr height=20>                        
                  <td>###2xiazuojinshi###</td>
                  <td>###2xiayoujinshi###</td>
                </tr>
              </table></td>
              <td width="20%"><table width="100%" border="1" cellpadding="3" cellspacing="1">
                <tr>
                  <td class="smb">左</td>
                  <td class="smb">右</td>
                </tr>
               <tr height=20>
                  <td>###3shangzuoluoyan###</td>
                  <td>###3shangyouluoyan###</td>
                </tr>
                <tr height=20>
                  <td>###3shangzuojinshi###</td>
                  <td>###3shangyoujinshi###</td>
                </tr>
                <tr height=20>
                  <td>###3xiazuoluoyan###</td>
                  <td>###3xiayouluoyan###</td>
                </tr>                       
                <tr height=20>                        
                  <td>###3xiazuojinshi###</td>
                  <td>###3xiayoujinshi###</td>
                </tr>
              </table></td>
              </tr>
            <tr>
              <td class="smb">色觉</td>
              <td width="20%">###1sejue###</td>
              <td width="20%">###2sejue###</td>
              <td width="20%">###3sejue###</td>
            </tr>
            <tr>
              <td class="smb">沙眼</td>
              <td width="20%">###1shayan###</td>
              <td width="20%">###2shayan###</td>
              <td width="20%">###3shayan###</td>
            </tr>
            <tr>
              <td class="smb">结膜炎</td>
              <td width="20%">###1jiemoyan###</td>
              <td width="20%">###2jiemoyan###</td>
              <td width="20%">###3jiemoyan###</td>
            </tr>
            <tr>
              <td class="smb">心脏</td>
              <td>###1xinzang###</td>
              <td>###2xinzang###</td>
              <td>###3xinzang###</td>
            </tr>
            <tr>
              <td class="smb">肺</td>
              <td>###1fei###</td>
              <td>###2fei###</td>
              <td>###3fei###</td>
            </tr>
            <tr>
              <td class="smb">肝脾</td>
              <td>###1ganpi###</td>
              <td>###2ganpi###</td>
              <td>###3ganpi###</td>
            </tr>
            <tr>
              <td class="smb">头颈</td>
              <td>###1toujin###</td>
              <td>###2toujin###</td>
              <td>###3toujin###</td>
            </tr>
            <tr>
              <td class="smb">胸部</td>
              <td>###1xiongbu###</td>
              <td>###2xiongbu###</td>
              <td>###3xiongbu###</td>
            </tr>
            <tr>
              <td class="smb">脊柱</td>
              <td>###1jizhu###</td>
              <td>###2jizhu###</td>
              <td>###3jizhu###</td>
            </tr>
            <tr>
              <td class="smb">四肢关节</td>
              <td>###1sizhi###</td>
              <td>###2sizhi###</td>
              <td>###3sizhi###</td>
            </tr>
            <tr>
              <td class="smb">皮肤淋巴</td>
              <td>###1pifuliba###</td>
              <td>###2pifuliba###</td>
              <td>###3pifuliba###</td>
            </tr>
            <tr>
              <td class="smb">血色素</td>
              <td>###1xuesesu###</td>
              <td>###2xuesesu###</td>
              <td>###3xuesesu###</td>
            </tr>
            <tr>
              <td class="smb">*便检</td>
              <td>###1bianjian###</td>
              <td>###2bianjian###</td>
              <td>###3bianjian###</td>
            </tr>
            <tr>
              <td class="smb">*肝功能</td>
              <td>###1gangongneng###</td>
              <td>###2gangongneng###</td>
              <td>###3gangongneng###</td>
            </tr>
            <tr>
              <td class="smb">*PPD试验</td>
              <td>###1ppd###</td>
              <td>###2ppd###</td>
              <td>###3ppd###</td>
            </tr>
            <tr>
              <td class="smb">既往病史</td>
              <td colspan="3">###bingshi###</td>
              </tr>
            <tr>
              <td class="smb">体检机构</td>
              <td>###1tijianjigou###</td>
              <td>###2tijianjigou###</td>
              <td>###3tijianjigou###</td>
            </tr>
            
        </table></td>
      </tr>
      <tr>
        <td class="shuoming">说明：按照市委市政府《关于加强青少年体育增强青少年体质的意见》，北京市制定了《北京市中小学生健康体检管理办法》、《北京市学生常见病综合防治方案技术规范》和《北京市体检中心质量控制标准》，明确了学生体检的项目及评价标准，建立了每年一次学生体检制度。与之配套的“北京市中小学学生健康信息管理系统”已纳入学生CMIS管理系统。此表记录的是常规体检的真实情况，其数据信息可直接从学生CMIS管理系统中导出。</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="1" cellpadding="3" cellspacing="1">
      <tr>
        <td height="60" colspan="2" class="ti">北京市高中学生课业考试（考查）成绩学分登记表</td>
        </tr>
      <tr>
        <td height="60" colspan="2"><table width="100%" border="1" cellpadding="3" cellspacing="1">
          <tr>
            <td width="14%" class="smb">姓名</td>
            <td width="23%">###name###</td>
            <td width="11%" class="smb">班级</td>
            <td width="16%">###banji###</td>
            <td width="9%" class="smb">学籍号</td>
            <td width="27%">###schoolNo###</td>
          </tr>
          <tr>
            <td class="smb">总学分</td>
            <td>###zongxuefen###</td>
            <td colspan="4">其中：必修:###bixiu### &nbsp;选修:###xuanxiu### &nbsp;校本课程:###xiaoben### </td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td width="12%" class="smb">第一学年</td>
        <td width="90%"><table width="100%" border="1" cellpadding="3" cellspacing="1">
          <tr>
            <td colspan="2" rowspan="3" class="smb">学科</td>
            <td height="30" colspan="4" class="smb">第一学期</td>
            <td colspan="4" class="smb">第二学期</td>
            <td rowspan="3" class="bqxsl"><div class="smb">学分<BR>小计</div></td>
            </tr>
          <tr>
            <td height="30" colspan="2" class="smb">第一学段</td>
            <td height="30" colspan="2" class="smb">第二学段</td>
            <td colspan="2" class="smb">第三学段</td>
            <td colspan="2" class="smb">第四学段</td>
            </tr>
          <tr>
            <td height="30" class="smb">模块</td>
            <td height="30" class="smb">成绩</td>
            <td height="30" class="smb">模块</td>
            <td height="30" class="smb">成绩</td>
            <td class="smb">模块</td>
            <td class="smb">成绩</td>
            <td class="smb">模块</td>
            <td class="smb">成绩</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">思想政治</td>
            <td width="12%">###11zhengzhimokuai###</td>
            <td width="8%">###11zhengzhichengji###</td>
            <td width="12%">###12zhengzhimokuai###</td>
            <td width="8%">###12zhengzhichengji###</td>
            <td width="12%">###13zhengzhimokuai###</td>
            <td width="8%">###13zhengzhichengji###</td>
            <td width="12%">###14zhengzhimokuai###</td>
            <td width="8%">###14zhengzhichengji###</td>
            <td width="8%">###1zzxuefenxiaoji###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">语文</td>
            <td width="12%">###11yuwenmk###</td>
            <td width="8%">###11yuwencj###</td>
            <td width="12%">###12yuwenmk###</td>
            <td width="8%">###12yuwencj###</td>
            <td width="12%">###13yuwenmk###</td>
            <td width="8%">###13yuwencj###</td>
            <td width="12%">###14yuwenmk###</td>
            <td width="8%">###14yuwencj###</td>
            <td width="8%">###1ywxuefenxiaoji###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">外语</td>
            <td width="12%">###11waiyumk###</td>
            <td width="8%">###11waiyucj###</td>
            <td width="12%">###12waiyumk###</td>
            <td width="8%">###12waiyucj###</td>
            <td width="12%">###13waiyumk###</td>
            <td width="8%">###13waiyucj###</td>
            <td width="12%">###14waiyumk###</td>
            <td width="8%">###14waiyucj###</td>
            <td width="8%">###1wyxfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">历史</td>
            <td width="12%">###11lishimk###</td>
            <td width="8%">###11lishicj###</td>
            <td width="12%">###12lishimk###</td>
            <td width="8%">###12lishicj###</td>
            <td width="12%">###13lishimk###</td>
            <td width="8%">###13lishicj###</td>
            <td width="12%">###14lishimk###</td>
            <td width="8%">###14lishicj###</td>
            <td width="8%">###1lsxfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">地理</td>
            <td width="12%">###11dilimk###</td>
            <td width="8%">###11dilicj###</td>
            <td width="12%">###12dilimk###</td>
            <td width="8%">###12dilicj###</td>
            <td width="12%">###13dilimk###</td>
            <td width="8%">###13dilicj###</td>
            <td width="12%">###14dilimk###</td>
            <td width="8%">###14dilicj###</td>
            <td width="8%">###1dlxfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">数学</td>
            <td width="12%">###11mathmk###</td>
            <td width="8%">###11mathscore###</td>
            <td width="12%">###12mathmk###</td>
            <td width="8%">###12mathscore###</td>
            <td width="12%">###13mathmk###</td>
            <td width="8%">###13mathscore###</td>
            <td width="12%">###14mathmk###</td>
            <td width="8%">###14mathscore###</td>
            <td width="8%">###1mathxfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">物理</td>
            <td width="12%">###11wulimk###</td>
            <td width="8%">###11wulicj###</td>
            <td width="12%">###12wulimk###</td>
            <td width="8%">###12wulicj###</td>
            <td width="12%">###13wulimk###</td>
            <td width="8%">###13wulicj###</td>
            <td width="12%">###14wulimk###</td>
            <td width="8%">###14wulicj###</td>
            <td width="8%">###1wulixfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">化学</td>
            <td width="12%">###11huaxuemk###</td>
            <td width="8%">###11huaxuecj###</td>
            <td width="12%">###12huaxuemk###</td>
            <td width="8%">###12huaxuecj###</td>
            <td width="12%">###13huaxuemk###</td>
            <td width="8%">###13huaxuecj###</td>
            <td width="12%">###14huaxuemk###</td>
            <td width="8%">###14huaxuecj###</td>
            <td width="8%">###1huaxuexfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">信息技术</td>
            <td width="12%">###11xxjsmk###</td>
            <td width="8%">###11xxjscj###</td>
            <td width="12%">###12xxjsmk###</td>
            <td width="8%">###12xxjscj###</td>
            <td width="12%">###13xxjsmk###</td>
            <td width="8%">###13xxjscj###</td>
            <td width="12%">###14xxjsmk###</td>
            <td width="8%">###14xxjscj###</td>
            <td width="8%">###1xxjsxfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">通用技术</td>
            <td width="12%">###11tyjsmk###</td>
            <td width="8%">###11ttjscj###</td>
            <td width="12%">###12tyjsmk###</td>
            <td width="8%">###12ttjscj###</td>
            <td width="12%">###13tyjsmk###</td>
            <td width="8%">###13ttjscj###</td>
            <td width="12%">###14tyjsmk###</td>
            <td width="8%">###14ttjscj###</td>
            <td width="8%">###1tyjsxfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">艺术</td>
            <td width="12%">###11yishumk###</td>
            <td width="8%">###11yishucj###</td>
            <td width="12%">###12yishumk###</td>
            <td width="8%">###12yishucj###</td>
            <td width="12%">###13yishumk###</td>
            <td width="8%">###13yishucj###</td>
            <td width="12%">###14yishumk###</td>
            <td width="8%">###14yishucj###</td>
            <td width="8%">###1yishuxfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">音乐</td>
            <td width="12%">###11musicmk###</td>
            <td width="8%">###11musiccj###</td>
            <td width="12%">###12musicmk###</td>
            <td width="8%">###12musiccj###</td>
            <td width="12%">###13musicmk###</td>
            <td width="8%">###13musiccj###</td>
            <td width="12%">###14musicmk###</td>
            <td width="8%">###14musiccj###</td>
            <td width="8%">###1musicxfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">美术</td>
            <td width="12%">###11meishumk###</td>
            <td width="8%">###11meishucj###</td>
            <td width="12%">###12meishumk###</td>
            <td width="8%">###12meishucj###</td>
            <td width="12%">###13meishumk###</td>
            <td width="8%">###13meishucj###</td>
            <td width="12%">###14meishumk###</td>
            <td width="8%">###14meishucj###</td>
            <td width="8%">###1meishuxfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">研究性学习活动</td>
            <td width="12%">###11yanjuemk###</td>
            <td width="8%">###11yanjuecj###</td>
            <td width="12%">###12yanjuemk###</td>
            <td width="8%">###12yanjuecj###</td>
            <td width="12%">###13yanjuemk###</td>
            <td width="8%">###13yanjuecj###</td>
            <td width="12%">###14yanjuemk###</td>
            <td width="8%">###14yanjuecj###</td>
            <td width="8%">###1yanjuexfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">社区服务</td>
            <td width="12%">###11shequmk###</td>
            <td width="8%">###11shequcj###</td>
            <td width="12%">###12shequmk###</td>
            <td width="8%">###12shequcj###</td>
            <td width="12%">###13shequmk###</td>
            <td width="8%">###13shequcj###</td>
            <td width="12%">###14shequmk###</td>
            <td width="8%">###14shequcj###</td>
            <td width="8%">###1shequxfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">社会实践</td>
            <td width="12%">###11shijianmk###</td>
            <td width="8%">###11shijiancj###</td>
            <td width="12%">###12shijianmk###</td>
            <td width="8%">###12shijiancj###</td>
            <td width="12%">###13shijianmk###</td>
            <td width="8%">###13shijiancj###</td>
            <td width="12%">###14shijianmk###</td>
            <td width="8%">###14shijiancj###</td>
            <td width="8%">###1shijianxfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">校本课程</td>
            <td width="12%">###11xiaobenmk###</td>
            <td width="8%">###11xiaobencj###</td>
            <td width="12%">###12xiaobenmk###</td>
            <td width="8%">###12xiaobencj###</td>
            <td width="12%">###13xiaobenmk###</td>
            <td width="8%">###13xiaobencj###</td>
            <td width="12%">###14xiaobenmk###</td>
            <td width="8%">###14xiaobencj###</td>
            <td width="8%">###1xiaobenxfxj###</td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td class="smb">第二学年</div></td>
        <td><table width="100%" border="1" cellpadding="3" cellspacing="1">
          <tr>
            <td colspan="2" rowspan="3" class="smb">学科</td>
            <td height="30" colspan="4" class="smb">第一学期</td>
            <td colspan="4" class="smb">第二学期</td>
            <td rowspan="3" class="smb">学分<BR>小计</td>
          </tr>
          <tr>
            <td height="30" colspan="2" class="smb">第一学段</td>
            <td height="30" colspan="2" class="smb">第二学段</td>
            <td colspan="2" class="smb">第三学段</td>
            <td colspan="2" class="smb">第四学段</td>
          </tr>
          <tr>
            <td height="30" class="smb">模块</td>
            <td height="30" class="smb">成绩</td>
            <td height="30" class="smb">模块</td>
            <td height="30" class="smb">成绩</td>
            <td class="smb">模块</td>
            <td class="smb">成绩</td>
            <td class="smb">模块</td>
            <td class="smb">成绩</td>
          </tr>


          <tr>
            <td colspan="2" class="smb">思想政治</td>
            <td width="12%">###21zhengzhimokuai###</td>
            <td width="8%">###21zhengzhichengji###</td>
            <td width="12%">###22zhengzhimokuai###</td>
            <td width="8%">###22zhengzhichengji###</td>
            <td width="12%">###23zhengzhimokuai###</td>
            <td width="8%">###23zhengzhichengji###</td>
            <td width="12%">###24zhengzhimokuai###</td>
            <td width="8%">###24zhengzhichengji###</td>
            <td width="8%">###2zzxuefenxiaoji###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">语文</td>
           <td width="12%">###21yuwenmk###</td>
            <td width="8%">###21yuwencj###</td>
            <td width="12%">###22yuwenmk###</td>
            <td width="8%">###22yuwencj###</td>
            <td width="12%">###23yuwenmk###</td>
            <td width="8%">###23yuwencj###</td>
            <td width="12%">###24yuwenmk###</td>
            <td width="8%">###24yuwencj###</td>
            <td width="8%">###2ywxuefenxiaoji###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">外语</td>
              <td width="12%">###21waiyumk###</td>
            <td width="8%">###21waiyucj###</td>
            <td width="12%">###22waiyumk###</td>
            <td width="8%">###22waiyucj###</td>
            <td width="12%">###23waiyumk###</td>
            <td width="8%">###23waiyucj###</td>
            <td width="12%">###24waiyumk###</td>
            <td width="8%">###24waiyucj###</td>
            <td width="8%">###2wyxfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">历史</td>
            <td width="12%">###21lishimk###</td>
            <td width="8%">###21lishicj###</td>
            <td width="12%">###22lishimk###</td>
            <td width="8%">###22lishicj###</td>
            <td width="12%">###23lishimk###</td>
            <td width="8%">###23lishicj###</td>
            <td width="12%">###24lishimk###</td>
            <td width="8%">###24lishicj###</td>
            <td width="8%">###2lsxfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">地理</td>
            <td width="12%">###21dilimk###</td>
            <td width="8%">###21dilicj###</td>
            <td width="12%">###22dilimk###</td>
            <td width="8%">###22dilicj###</td>
            <td width="12%">###23dilimk###</td>
            <td width="8%">###23dilicj###</td>
            <td width="12%">###24dilimk###</td>
            <td width="8%">###24dilicj###</td>
            <td width="8%">###2dlxfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">数学</td>
            <td width="12%">###21mathmk###</td>
            <td width="8%">###21mathscore###</td>
            <td width="12%">###22mathmk###</td>
            <td width="8%">###22mathscore###</td>
            <td width="12%">###23mathmk###</td>
            <td width="8%">###23mathscore###</td>
            <td width="12%">###24mathmk###</td>
            <td width="8%">###24mathscore###</td>
            <td width="8%">###2mathxfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">物理</td>
            <td width="12%">###21wulimk###</td>
            <td width="8%">###21wulicj###</td>
            <td width="12%">###22wulimk###</td>
            <td width="8%">###22wulicj###</td>
            <td width="12%">###23wulimk###</td>
            <td width="8%">###23wulicj###</td>
            <td width="12%">###24wulimk###</td>
            <td width="8%">###24wulicj###</td>
            <td width="8%">###2wulixfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">化学</td>
             <td width="12%">###21huaxuemk###</td>
            <td width="8%">###21huaxuecj###</td>
            <td width="12%">###22huaxuemk###</td>
            <td width="8%">###22huaxuecj###</td>
            <td width="12%">###23huaxuemk###</td>
            <td width="8%">###23huaxuecj###</td>
            <td width="12%">###24huaxuemk###</td>
            <td width="8%">###24huaxuecj###</td>
            <td width="8%">###2huaxuexfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">生物</td>
            <td width="12%">###1shengwumk###</td>
            <td width="8%">###1shengwucj###</td>
            <td width="12%">####1shengwucj#####1shengwumk###</td>
            <td width="8%">###1shengwucj###</td>
            <td width="12%">###1shengwumk###</td>
            <td width="8%">###1shengwucj###</td>
            <td width="12%">###1shengwumk###</td>
            <td width="8%">###1shengwucj###</td>
            <td width="8%">###1shengwuxfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">研究性学习活动</td>
            <td width="12%">###21yanjuemk###</td>
            <td width="8%">###21yanjuecj###</td>
            <td width="12%">###22yanjuemk###</td>
            <td width="8%">###22yanjuecj###</td>
            <td width="12%">###23yanjuemk###</td>
            <td width="8%">###23yanjuecj###</td>
            <td width="12%">###24yanjuemk###</td>
            <td width="8%">###24yanjuecj###</td>
            <td width="8%">###2yanjuexfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">社区服务</td>
            <td width="12%">###21shequmk###</td>
            <td width="8%">###21shequcj###</td>
            <td width="12%">###22shequmk###</td>
            <td width="8%">###22shequcj###</td>
            <td width="12%">###23shequmk###</td>
            <td width="8%">###23shequcj###</td>
            <td width="12%">###24shequmk###</td>
            <td width="8%">###24shequcj###</td>
            <td width="8%">###2shequxfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">社会实践</td>
            <td width="12%">###21shijianmk###</td>
            <td width="8%">###21shijiancj###</td>
            <td width="12%">###22shijianmk###</td>
            <td width="8%">###22shijiancj###</td>
            <td width="12%">###23shijianmk###</td>
            <td width="8%">###23shijiancj###</td>
            <td width="12%">###24shijianmk###</td>
            <td width="8%">###24shijiancj###</td>
            <td width="8%">###2shijianxfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">校本课程</td>
            <td width="12%">###21xiaobenmk###</td>
            <td width="8%">###21xiaobencj###</td>
            <td width="12%">###22xiaobenmk###</td>
            <td width="8%">###22xiaobencj###</td>
            <td width="12%">###23xiaobenmk###</td>
            <td width="8%">###23xiaobencj###</td>
            <td width="12%">###24xiaobenmk###</td>
            <td width="8%">###24xiaobencj###</td>
            <td width="8%">###2xiaobenxfxj###</td>
            </tr>


        </table></td>
      </tr>
      <tr>
        <td class="smb">第三学年</td>
        <td><table width="100%" border="1" cellpadding="3" cellspacing="1">
          <tr>
            <td colspan="2" rowspan="3" class="smb">学科</td>
            <td height="30" colspan="4" class="smb">第一学期</td>
            <td colspan="4" class="smb">第二学期</td>
            <td rowspan="3" class="smb">学分<BR>小计</td>
          </tr>
          <tr>
            <td height="30" colspan="2" class="smb">第一学段</td>
            <td height="30" colspan="2" class="smb">第二学段</td>
            <td colspan="2" class="smb">第三学段</td>
            <td colspan="2" class="smb">第四学段</td>
          </tr>
          <tr>
            <td height="30" class="smb">模块</td>
            <td height="30" class="smb">成绩</td>
            <td height="30" class="smb">模块</td>
            <td height="30" class="smb">成绩</td>
            <td class="smb">模块</td>
            <td class="smb">成绩</td>
            <td class="smb">模块</td>
            <td class="smb">成绩</td>
          </tr>


          <tr>
            <td colspan="2" class="smb">语文</td>
            <td width="12%">###31yuwenmk###</td>
            <td width="8%">###31yuwencj###</td>
            <td width="12%">###32yuwenmk###</td>
            <td width="8%">###32yuwencj###</td>
            <td width="12%">###33yuwenmk###</td>
            <td width="8%">###33yuwencj###</td>
            <td width="12%">###34yuwenmk###</td>
            <td width="8%">###34yuwencj###</td>
            <td width="8%">###3ywxuefenxiaoji###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">外语</td>
            <td width="12%">###31waiyumk###</td>
            <td width="8%">###31waiyucj###</td>
            <td width="12%">###32waiyumk###</td>
            <td width="8%">###32waiyucj###</td>
            <td width="12%">###33waiyumk###</td>
            <td width="8%">###33waiyucj###</td>
            <td width="12%">###34waiyumk###</td>
            <td width="8%">###34waiyucj###</td>
            <td width="8%">###3wyxfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">数学</td>
            <td width="12%">###31mathmk###</td>
            <td width="8%">###31mathscore###</td>
            <td width="12%">###32mathmk###</td>
            <td width="8%">###32mathscore###</td>
            <td width="12%">###33mathmk###</td>
            <td width="8%">###33mathscore###</td>
            <td width="12%">###34mathmk###</td>
            <td width="8%">###34mathscore###</td>
            <td width="8%">###3mathxfxj###</td>
            </tr>

          <tr>
            <td colspan="2" class="smb">社会实践</td>
            <td width="12%">###31shijianmk###</td>
            <td width="8%">###31shijiancj###</td>
            <td width="12%">###32shijianmk###</td>
            <td width="8%">###32shijiancj###</td>
            <td width="12%">###33shijianmk###</td>
            <td width="8%">###33shijiancj###</td>
            <td width="12%">###34shijianmk###</td>
            <td width="8%">###34shijiancj###</td>
            <td width="8%">###3shijianxfxj###</td>
            </tr>


        </table></td>
      </tr>
      <tr>
        <td colspan="2" class="shuoming">说明：</span>依据教育部《普通高中课程改革方案（实验）》，北京市研制了《普通高中课程管理系统》，此登记表是该系统中的重要组成部分，集中反映学生高中三年的学习状况，即各学科必修及选修模块内容、考试成绩、学分获得情况，其中还包含研究性学习、社区服务、社会实践及校本课程的修习情况，按照高中三个学年分别汇总，且须班主任签字确认。该表数据信息可直接从普通高中课程管理系统中导出。	</td>
        </tr>
    </table></td>
  </tr>
</table>
</div>
</body>
</html>

